HTTP_HOST=localhost
HTTP_PORT=9000

DATABASE_URI=postgres://postgres:admin@localhost:5432/billbharat-auth-service?sslmode=disable
DATABASE_TIMEOUT=5s

SERVICE_NAME=auth

GRPC_HOST=localhost
GRPC_PORT=50051

DEPLOYMENT_ENV=local

JWT_SECRET=superasssecret
JWT_LIFETIME=1d

EVENT_BROKER_SERVERS=localhost:29092